h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

p,
span,
div {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0px;
  /* Full height */
  height: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

html,
#root {
  height: 100%;
  overflow: hidden;
}

.react-add-to-calendar__dropdown {
  display: flex;
}
